.cadastro{
    font-family:var(--font);
    padding:16px;
    color:var(--degrade-azul);
    display:flex;
    flex-direction: column;
}

.cadastro h3,p{
    margin:6px;
}

.cadastro input{
    border-radius:24px;
    border:2px solid var(--degrade-azul);
    width: 99%;
    padding:10px;
    background-image: url(/assets/img/Email.svg);
    background-repeat:no-repeat;
    background-position: 1.8em 0.3em;
    margin-top:4px;
}

.cadastro input::placeholder{
    color: var(--degrade-azul);
    width: 80%;
    text-align:center;
    font-size:16px;
}


/* FOOTER */

footer{
    font-family:var(--font);
    padding:10px;
    font-size:18px;
}

footer ul{
    display:none;
}



/* VERSÃO PARA TABLET */


@media screen and (min-width:1024px){
    .cadastro{
        flex-direction:row;
        padding: 40px;
        justify-content:space-around;
        align-items: center;
    }

    .cadastro input{
        width: 40%;
    }

    .div_cadastro{
        width: 34%;
    }

    .cadastro input{
        height: 10%;
    }

    .cadastro h3{
        font-size:1.4rem;
    }


    /* footer */

    footer{
        display:flex;
        justify-content: space-around;
    }

    #gp_alura{
        font-size:1.2rem;
    }

    footer ul p{
        color:darkgray;
    }

    footer ul li img{
        margin: 4px;
    }

    footer ul li{
        list-style-type: none;
        display:flex;
        align-items:center;
        padding:6px;
        margin: 6px;
        color: darkgray;
    }

    
}

/* VERSÃO PARA DESKTOP */

@media screen and (min-width:1526px){

    .cadastro{
        justify-content:space-evenly;
    }
    .cadastro input{
        width: 30%;
    }

}