.cabecalho{
    display:flex;
    background-color:var(--branco);
    justify-content:space-between;
}

.cabecalho p{
    display: none;
}

#todo_conteudo_le{
    display:flex;
}

ul#menu{
    display: none;
}

span#button_menu{
    background-image: url(/assets/img/Menu.png);
    width: 24px;
    height: 24px;
    display: inline-block;
}

.div_direita_header,.div_esquerda_header{
    display: flex;
    margin: 8px;
    align-items:center;
    justify-content:center;
    padding:4px;
}


.div_direita_header img{
    margin-left:16px;
}

header input{
    display:none;
}

header .menu_de_opcoes{
    padding:10px;   
    position: absolute;
    top:73px;
    left: 1px;
    background-color:var(--branco);
    width: 260px;
    font-family: "Poppins", sans-serif;
}

header ul li{
    padding:10px;
    color:var(--degrade-azul);
    text-transform: uppercase;
    margin: 8px;
    list-style-type:none;
}

header .menu_de_opcoes{
    display: none;
}

#check_button_header:checked ~ ul{
    display: block;
}


#texto_laranja_header{
    color:var(--laranja);
}



/* MODELO PARA TABLET */

@media screen and (min-width:1024px) {

    .cabecalho{
        font-family:var(--font);
        justify-content: space-around;
    }

    #coracao{
        display:none;
    }

    span#button_menu{
        display:none;
    }

    .cabecalho p{
        display: block;
    }

    .div_esquerda_header p{
        font-size:2rem;
    }



    #menu{
        display:flex;
        align-items:center;
    }

    #menu li{
        color:black;
    }

    header .menu_de_opcoes{
        left: 34%;
        width: 18%;

    }

    header .menu_de_opcoes li{
        padding:8px;
        color:var(--degrade-azul);
        text-transform: uppercase;
        gap: 4px;
        list-style-type:none;
    }

    #texto_laranja_header{
        display:none;
    }
}


/* VERÃO PARA COMPUTADOR*/

@media screen and (min-width:1536px){
    .cabecalho{
        font-family:var(--font);
    }

    

    .div_direita_header p{
        font-size:20px;
    }

    #todo_conteudo_le{  
        display:flex;
    }

    header .menu_de_opcoes {
        left: 15%;
        width: 10%;
    }

    header .menu_de_opcoes li{
        font-size: 14px;
    }
}



