.saiba_mais{
    background-color:var(--branco);
    border-radius:10px;
    display: flex;
    padding: 20px;
    width: 94%;
    margin-left: 10px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 94vw;
    margin-bottom: 16px;
    justify-content:space-between;
}

.div_texto{
    padding:6px;
    display: flex;
    flex-direction: column;
    gap:6px;
}

.div_texto p{
    margin-left: 0;
}

.div_texto .letra_laranja{
    color:var(--laranja);
    font-weight:700;
    font-size:1rem;
    width: 160px;
    margin-left: 0;
}


.div_texto h3{
    color:var(--azul);
    font-size:1.2rem;
}

.div_img{
    justify-self: center;
}

.div_img button{
    color:var(--branco);
    background-color:var(--laranja);
    width: 100%;
    height:40px;
    margin-top: 20%;
    border:none;
    font-weight: 700;
    font-size: 1rem;
}


.saiba_mais img{
    height: 140px;
    
}

.material-symbols-outlined{
    color: var(--azul);
}

#mais_vendidos{
    background-color:var(--branco);
    height:60px;
    margin-top:20px;
    margin-bottom:20px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 1.2rem;
    font-weight:bold;
    color:var(--laranja);
}


img.estrelinha{
    height: 20px;
    width: 100px;
}







@media screen and (min-width:1024px){
    section.saiba_mais{
        width:50%;
        margin-left:20%;
        padding: 30px;
        }

        .div_texto{
            width:60%;
            display:flex;
        }


    .div_texto .letra_laranja{
        width: 100%;
    }

        .saiba_mais p{
            margin:0;   
        }

        .saiba_mais .div_img{
            justify-content:center;
            display:flex;
            flex-direction:column;
        }


         .saiba_mais span{
            margin-top:10%
        }


        section #mais_vendidos{
            color: var(--laranja);
            background-color: var(--branco);
            text-transform: uppercase;
            font-size: 1.3rem;
            text-align: center;
            font-weight: 600;
        }
        

        img.estrelinha{
            height:20px;
            width:80px
        }
    }

