@import url("/assets/styles/header.css");
@import url(/assets/styles/banner.css);
@import url(carrosel.css);
@import url(carrosel_dois.css);
@import url(topicos.css);
@import url(cadastro.css);

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --background-geral: #ececec;
    --degrade-azul: #002f52;
    --branco:#ffffff;
    --laranja:#ED8B00;
    --font:"Poppins", sans-serif;
}

body{
    background-color:var(--background-geral);
}
