@import url(header.css);
@import url(section_one.css);
@import url(carrosel.css);
@import url(saiba_mais.css);
@import url(ultima_section.css);
@import url(contato.css);
@import url(footer_final.css);

:root{
    --cor-de-fundo: #EBECEE;
    --branco:#ffffff;
    --laranja:#FD8325;
    --azul:#003052;
    --font-secundaria:'Josefin Sans';
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: "Poppins", sans-serif;
}
