@import url(header.css);
@import url(section_one.css);
@import url(carrosel.css);
@import url(saiba_mais.css);

:root{
    --cor-de-fundo: #EBECEE;
    --branco:#ffffff;
    --laranja:#FD8325;
    --azul:#003052;
    --degrade-azul:
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
}
