.topicos{
    background-color:var(--degrade-azul);
    margin-top:40px;
    font-family: var(--font);
}

.topicos h3{
    font-size:16px;
    text-align:center;
    color:var(--branco);
    font-weight: 100;
    padding:20px;
}

.topicos ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.topicos ul li{
    background-color:var(--laranja);
    margin: 4px;
    padding:10px;
    color:var(--branco);
    font-weight:600;
}



/* VERSÃO PARA TABLET */

@media screen and (min-width:1024px){
    .topicos{
        padding: 40px;
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .topicos h3{
        font-size:1.2rem;
    }

    .topicos ul{
        width: 80%;
    }

    .topicos ul li{
        padding: 30px;
        font-size:1.2rem;
        font-weight: 600;
        margin:10px;
    }
}


/* VERSÃO PARA DESKTOP */

@media screen and (min-width:1536px){
    .topicos ul{
        width:51%;
    }
    
    .topicos ul li{
        padding: 20px;
    }
}